<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winter.mapper.dbo.korea_comments_target_brandsMapper" >
  <resultMap id="BaseResultMap" type="com.winter.model.dbo.korea_comments_target_brands" >
    <id column="pk_id" property="pkId" jdbcType="BIGINT" />
    <result column="brand_index" property="brandIndex" jdbcType="INTEGER" />
    <result column="brand_status" property="brandStatus" jdbcType="NVARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="NVARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_id, brand_index, brand_status, brand_name, insert_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dbo.korea_comments_target_brands
    where pk_id = #{pkId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dbo.korea_comments_target_brands
    where pk_id = #{pkId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winter.model.dbo.korea_comments_target_brands" >
    insert into dbo.korea_comments_target_brands (pk_id, brand_index, brand_status, 
      brand_name, insert_time, update_time
      )
    values (#{pkId,jdbcType=BIGINT}, #{brandIndex,jdbcType=INTEGER}, #{brandStatus,jdbcType=NVARCHAR}, 
      #{brandName,jdbcType=NVARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winter.model.dbo.korea_comments_target_brands" >
    insert into dbo.korea_comments_target_brands
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        pk_id,
      </if>
      <if test="brandIndex != null" >
        brand_index,
      </if>
      <if test="brandStatus != null" >
        brand_status,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=BIGINT},
      </if>
      <if test="brandIndex != null" >
        #{brandIndex,jdbcType=INTEGER},
      </if>
      <if test="brandStatus != null" >
        #{brandStatus,jdbcType=NVARCHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=NVARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winter.model.dbo.korea_comments_target_brands" >
    update dbo.korea_comments_target_brands
    <set >
      <if test="brandIndex != null" >
        brand_index = #{brandIndex,jdbcType=INTEGER},
      </if>
      <if test="brandStatus != null" >
        brand_status = #{brandStatus,jdbcType=NVARCHAR},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=NVARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_id = #{pkId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winter.model.dbo.korea_comments_target_brands" >
    update dbo.korea_comments_target_brands
    set brand_index = #{brandIndex,jdbcType=INTEGER},
      brand_status = #{brandStatus,jdbcType=NVARCHAR},
      brand_name = #{brandName,jdbcType=NVARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where pk_id = #{pkId,jdbcType=BIGINT}
  </update>
</mapper>